body {
  margin: 0;
  header {
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .head {
      width: 270px;
      height: 100px;
      background-color: #4aaaa5;
      display: flex;
      align-items: center;
      justify-content: center;
      .head-text {
        margin: 0;
        color: #ffffff;
        font-family: Georgia, "Times New Roman", Times, serif;
      }
    }

    .navbar {
      width: 25%;
      ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        li {
          list-style-type: none;

          a {
            text-decoration: none;
            color: #777777;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 18px;
          }
        }
      }
    }
  }

  main {
    display: flex;
    width: 100%;
    height: 650px;
    padding-left: 220px;
    padding-top: 60px;
    background-color: #cccccc;

    section {
      width: 620px;
      height: 350px;
      background-color: #ffffff;
      padding: 40px;

      h2 {
        color: #4aaaa5;
        font-family: Georgia, "Times New Roman", Times, serif;
        margin: 0;
      }
      hr {
        width: 620px;
        height: 2px;
        margin-bottom: 25px;
        background-color: #777777;
      }

      article {
        display: flex;
        justify-content: center;
        img {
          width: 270px;
          margin-right: 20px;
        }
        p {
          margin: 0;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 18px;
          color: #777777;
        }
      }

      p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        color: #777777;
      }
    }

    aside {
      width: 270px;
      height: 200px;
      background-color: #ffffff;
      margin-left: 100px;
      padding: 20px;

      h2 {
        text-align: center;
        color: #4aaaa5;
        font-family: Georgia, "Times New Roman", Times, serif;
        font-size: 22px;
        margin-bottom: 20px;
      }
      hr {
        width: 200px;
        height: 2px;
        background-color: #777777;
        margin-bottom: 25px;
      }

      .icons {
        display: flex;
        align-items: center;
        justify-content: center;

        a {
          .fa-github-square {
            font-size: 80px;
            color: black;
            margin-right: 7px;
          }

          .fa-linkedin {
            font-size: 80px;
            color: #4aaaa5;
            margin-right: 7px;
          }
          .fa-stack-overflow {
            font-size: 70px;
            background-color: orange;
            color: white;
            margin-right: 7px;
          }
        }
      }
    }
  }

  .contact {
    height: 500px;
    .contact-article {
      .inputs {
        input {
          width: 610px;
          height: 30px;
          margin-bottom: 50px;
        }
        .btn {
          background-color: #4aaaa5;
          width: 100px;
          height: 30px;
          border: none;
          margin-top: 20px;
          a {
            color: white;
            text-decoration: none;
            font-size: 15px;
            font-weight: 500;
          }
        }
      }
    }
  }

  .main-port {
    height: 800px;
    .sec-port {
      height: 600px;
      .portfolio-images {
        .images-part1 {
          display: flex;
          justify-content: center;
          margin-bottom: 10px;

          .image {
            width: 270px;
            position: relative;
            z-index: 0;
            overflow: hidden;
            margin-left: 5px;
            margin-right: 5px;

            img {
              transition: 2s;

              &:hover {
                transform: scale(1.5);
              }
            }

            .img-txt {
              background-color: #4aaaa5;
              width: 270px;
              position: absolute;
              z-index: 9;
              top: 130px;
              height: 40px;
              display: flex;
              align-items: center;
              justify-content: center;

              h2 {
                color: #ffffff;
                font-size: 18px;
              }
            }
          }
        }
        .image-last {
          width: 270px;
          position: relative;
          z-index: 0;
          overflow: hidden;
          margin-left: 6px;

          img {
            transition: 2s;

            &:hover {
              transform: scale(1.5);
            }
          }

          .img-txt {
            background-color: #4aaaa5;
            width: 270px;
            position: absolute;
            z-index: 9;
            top: 105px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            h2 {
              color: #ffffff;
              font-size: 18px;
            }
          }
        }
      }
    }
  }
  footer {
    .foot-part1 {
      width: 100%;
      height: 10px;
      background-color: #4aaaa5;
    }
    .foot-part2 {
      width: 100%;
      height: 100px;
      background-color: #777777;
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        margin: 0;
        color: #ffffff;
      }
    }
  }
}
